<footer class="bg-dark text-white py-4">
    <div class="container text-center">
        <p class="mb-1 fw-bold">GELSUR S.L.</p>
        <a href="../pages/productos.html" class="text-white d-block">Productos</a>
        <a href="#" class="text-white d-block">Pedidos</a>
        <a href="../pages/about.html" class="text-white d-block">Sobre nosotros</a>
        <a href="#" class="text-white d-block">Términos y condiciones</a>
        <a href="../pages/contact.html" class="text-white d-block">Contacto</a>
    </div>
</footer>