<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container">
        <a class="navbar-brand fw-bold" href="../index.html">
            <img src="../assets/img/logo_gelsursl.png" class="w-25" alt="logo_gelsursl">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse-c28b3154-4f05-4c8c-b494-fe28926106f9" aria-controls="navbar-collapse-c28b3154-4f05-4c8c-b494-fe28926106f9" aria-expanded="false" aria-label="Barra de navegación">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbar-collapse-c28b3154-4f05-4c8c-b494-fe28926106f9">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown-c28b3154-4f05-4c8c-b494-fe28926106f9" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Productos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbar-dropdown-c28b3154-4f05-4c8c-b494-fe28926106f9">
                        <li>
                            <a class="dropdown-item" href="../pages/buscar.html?categoria=pan-artesanal">
                                Pan artesanal
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="../pages/buscar.html?categoria=pan-precocinado">
                                Pan precocinado
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="../pages/buscar.html?categoria=bolleria">
                                Boller&iacute;a
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="../pages/buscar.html?categoria=tartas">
                                Tartas y postres
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown-c28b3154-4f05-4c8c-b494-fe28926106f9" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Pedidos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbar-dropdown-c28b3154-4f05-4c8c-b494-fe28926106f9">
                        <li>
                            <a class="dropdown-item" href="../pages/listapedidos.html">
                                Lista de pedidos
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="../pages/listadeseos.html">
                                Lista de deseos
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="../pages/devolucion.html">
                                Devoluci&oacute;n de pedidos
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown-c28b3154-4f05-4c8c-b494-fe28926106f9" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Sobre nosotros
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbar-dropdown-c28b3154-4f05-4c8c-b494-fe28926106f9">
                        <li>
                            <a class="dropdown-item" href="../pages/about.html">
                                ¿Qui&eacute;nes somos?
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="../pages/noticias.html">
                                Noticias
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="../pages/contact.html">
                                Contacto
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <form class="d-flex" id="form-busqueda" role="search">
                    <input class="form-control me-2" id="input-busqueda" type="search" placeholder="Buscar" aria-label="Buscar">
                    <button class="btn btn-warning" type="submit">
                        Buscar
                    </button>
                </form>
                <li class="nav-item">
                    <a class="btn btn-dark" href="../pages/carrito.html" role="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                        </svg>
                        Carrito
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script>
    document.addEventListener("submit", function(e) {
        if (e.target && e.target.id === "form-busqueda") {
            e.preventDefault();
            const texto = document.getElementById("input-busqueda").value.trim();
            if (texto !== "") {
                window.location.href = "../pages/buscar.html?texto=" + encodeURIComponent(texto);
            }
        }
    });
</script>